[submodule "escrow-anchor"]
	path = escrow-anchor
	url = https://github.com/prince981620/escrow-anchor.git
[submodule "vault-anchor"]
	path = vault-anchor
	url = https://github.com/prince981620/vault-anchor.git
[submodule "amm-anchor"]
	path = amm-anchor
	url = https://github.com/prince981620/amm-anchor.git
